<%- include("partials/header") %>
<h1>Contact</h1>
<p> <%= content %></p>
<p>E-mail: xxxxx@example.com</p>
<p>Telephone: xxxxx-xxxxx</p>
<br>
<h4>Or you can send an email by clicking on the button below.</h4>
<form method="post" action="mailto:matheusbviana@hotmail.com">
    <button class="btn_compose" type="submit">Send Email</button>
</form>
<%- include("partials/footer") %>
